
<h1>I am user</h1>
<table>
    <thead>
        <tr>
            <th>firstName</th>
            <th>lastName</th>
            <th>age</th>
        </tr>
    </thead>
    <tbody>
        {{#each users as [user]}}
        <tr>
            <td>{{user.firstName}}</td>
            <td>{{user.lastName}}</td>
            <td>{{user.age}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>





 


