
@import "ember-cli-bootstrap-4/bootstrap";


body{
    background-color: azure;
}

.add{
    color:blue;
    display: flex;
    // align-items: center;
    //  justify-content:center;
    margin: auto;
    
}

.delete{
    color:blue;
    display: flex;
    margin: auto;
}