body {
    background-color: rgba(141, 206, 184, 0.945);
    color:blueviolet;
    font-family: sans-serif;
}
.table{
    color:crimson
}
/* .one{
    border-radius: 2px solid black;
    border-color: black;
    border-width: 2px solid;
    color: chartreuse;
    border-style: dotted;

} */